# Build artifacts
build/
build_vs/
backend/out/
backend/build/

# IDE files
.idea/
.vs/
*.sln
*.vcxproj*
.vs/**/*.VC.db
.vs/**/*.db

# Build/run scripts
temp_build.bat

# External dependencies/tools
vcpkg/
ninja/

# vcpkg-specific ignore
vcpkg-manifest-install.log
CMakeCache.txt
CMakeFiles/
